:root {
	--metaThemeColor: #{$black};
}

body {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#content {
	background-color: $white;

	display: flex;
	flex-direction: column;
}

#header {
	height: $header-sm-height;
	font-size: 90%;

	display: flex;
	justify-content: space-between;
	//align-items: center;

	& i, & svg {
		font-size: 95%;
	}

	@include media-breakpoint-up(md) {
		height: $header-md-height;
		font-size: 100%;

		& i, & svg {
			font-size: 100%;
		}
	}
}

#header-left {
	height: inherit;

	display: flex;
	//justify-content: flex-start;
}

#nav-left-collapse {

	@include media-breakpoint-up(md) {
		& i, & svg {
			transform: rotate(0);
		}

		&.is-collapsed i, &.is-collapsed svg {
			transform: rotate(180deg);
		}
	}
}

#header-right {
	height: inherit;

	display: flex;
	//justify-content: flex-end;
}

#header-title {
	height: $header-sm-height;
	width: $header-sm-height;

	font-weight: $font-weight-bold;

	display: flex;
	justify-content: center;
	align-items: center;

	& span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@include media-breakpoint-up(md) {
		padding: 0 $spacer;
		height: $header-md-height;
		width: $nav-left-width;
	}
}

#nav-left-collapse {
	& i, & svg {
		transform: rotate(180deg);
		transition: $transition-base;
	}

	&.is-collapsed {
		& i, & svg {
			transform: rotate(0);

			@include media-breakpoint-up(md) {
				transform: rotate(180deg);
			}
		}
	}

	@media(min-width: map-get($grid-breakpoints, md)) {
		& i, & svg {
			transform: rotate(0);
		}
	}
}

#main {
	flex: 1;
	//height: calc(100vh - (#{$header-sm-height} - #{$border-height}));

	display: flex;

	@include media-breakpoint-up(md) {
		//height: calc(100vh - (#{$header-md-height} - #{$border-height}));
	}
}

#nav-left {
	background-color: $white;
	border-right: $border-height solid $black;

	z-index: 9000;

	height: calc(100vh - #{$header-md-height});
	transition: $transition-base;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media-breakpoint-down(sm) {
		position: absolute;
		bottom: 0;
		left: 0;
		height: calc(100vh - #{$header-sm-height});
		width: $nav-left-width;

		transform: translateX(-100%);

		&.is-collapsed {
			transform: translateX(0);
		}
	}

	@include media-breakpoint-up(md) {
		width: $nav-left-width;

		&.is-collapsed {
			transform: translateX(-100%);
		}
	}
}

#nav-left-list {
	border-top: $border-height solid $black;
	border-bottom: $border-height solid $black;

	height: calc(100vh - (#{$header-sm-height} + #{$footer-height} + (2 * #{$border-height})));

	overflow-x: hidden;
	overflow-y: auto;

	@include media-breakpoint-up(md) {
		height: calc(100vh - (#{$header-md-height} + #{$footer-height} + (2 * #{$border-height})));
	}
}

#nav-left-footer {
	height: $footer-height;

	display: flex;
	justify-content: center;
	align-items: center;
}

#panel-left-settings {
	background-color: $black;

	position: absolute;
	z-index: 9100;
	top: $border-height;
	bottom: calc(#{$footer-height} + (3 * #{$border-height}));
	left: 0;
	//height: calc(100vh - (#{$header-sm-height} + #{$footer-height}) - (2 * #{$border-height}));
	width: $nav-left-width;

	padding: $spacer;

	transform: translateX(-100%);
	transition: $transition-base;

	overflow-x: hidden;
	overflow-y: auto;

	&.is-collapsed {
		transform: translateX(0);
	}

	@include media-breakpoint-up(md) {
		top: calc(#{$header-md-height} + #{$border-height});
		//height: calc(100vh - (#{$header-md-height} + #{$footer-height}) - (2 * #{$border-height}));
	}
}

#article {
	border-top: $border-height solid $black;

	flex: 1;

	display: flex;
	flex-direction: column;

	@include media-breakpoint-up(md) {
		transition: $transition-base;

		&.is-collapsed {
			margin-left: $nav-left-width-negative;
		}
	}
}

#breadcrumb {
	padding: 0 ($grid-gutter-width / 2);
	height: $breadcrumb-height;

	display: flex;
	align-items: center;
}

#section {
	border-top: $border-height solid $black;
	border-bottom: $border-height solid $black;

	padding: ($grid-gutter-width / 2) 0;
	height: calc(100vh - (#{$header-sm-height} + #{$breadcrumb-height} + #{$footer-height} + #{$border-height}));

	overflow-x: hidden;
	overflow-y: auto;

	@include media-breakpoint-up(md) {
		height: calc(100vh - (#{$header-md-height} + #{$breadcrumb-height} + #{$footer-height} + #{$border-height}));
	}
}

#footer {
	height: $footer-height;

	font-size: $small-font-size;

	display: flex;
	justify-content: center;
	align-items: center;

	@include media-breakpoint-up(md) {
		padding: 0 ($grid-gutter-width / 2);

		justify-content: space-between;
	}
}

#footer-left {
	display: none;

	@include media-breakpoint-up(md) {
		display: inline-block;
	}
}

#footer-datetime {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media-breakpoint-up(md) {
		align-items: flex-end;
	}
}
