:root {
	--metaThemeColor: #{$black};
}

body {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

#content {
	background-color: $white;

	display: flex;
	flex-direction: column;

	height: 100vh;
	overflow: hidden;
}

#header {
	height: $header-sm-height;
	font-size: 90%;

	flex: 0 1 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	& i, & svg {
		font-size: 95%;
	}

	@media(min-width: map-get($grid-breakpoints, md)) {
		height: $header-md-height;
		font-size: 100%;

		& i, & svg {
			font-size: 100%;
		}
	}
}

#header-left {
	display: flex;
}

#header-right {
	display: flex;
}

#header-title {
	width: $header-sm-height;
	font-weight: $font-weight-bold;

	display: flex;
	justify-content: center;
	align-items: center;

	& span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@media(min-width: map-get($grid-breakpoints, md)) {
		padding: 0 $spacer;
		height: $header-md-height;
	}
}

#nav-left-collapse {
	& i, & svg {
		transform: rotate(180deg);
		transition: $transition-base;
	}

	&.is-collapsed {
		& i, & svg {
			transform: rotate(0);
		}
	}
}

#main {
	display: flex;
	height: calc(100vh - #{$header-sm-height});

	@media(min-width: map-get($grid-breakpoints, md)) {
		height: calc(100vh - #{$header-md-height});
	}
}

#nav-left {
	border-right: $border-height solid $black;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media(max-width: map-get($container-max-widths, md)) {
		position: absolute;
		bottom: 0;
		left: 0;
		height: calc(100vh - #{$header-sm-height});
		width: $nav-left-width;

		transform: translateX(-100%);
		transition: $transition-base;

		&.is-collapsed {
			transform: translateX(0);
		}
	}

	@media(min-width: map-get($grid-breakpoints, md)) {
		flex: 0 0 $nav-left-width;

		transition: $transition-base;

		&.is-collapsed {
			transform: translateX(-100%);
		}
	}
}

#nav-left-list {
	border-top: $border-height solid $black;
	border-bottom: $border-height solid $black;

	flex: 1;

	overflow-x: hidden;
	overflow-y: auto;
}

#nav-left-footer {
	flex: 0 0 $footer-height;

	display: flex;
	justify-content: center;
	align-items: center;
}

#panel-left-settings {
	background-color: $black;

	position: absolute;
	z-index: 5100;
	bottom: calc(#{$footer-height} + #{$border-height});
	left: 0;
	height: calc(100vh - (#{$header-sm-height} + #{$footer-height}) - (#{$border-height} * 2));
	width: $nav-left-width;

	padding: $spacer;

	transform: translateX(-100%);
	transition: $transition-base;

	overflow-x: hidden;
	overflow-y: auto;

	&.is-collapsed {
		transform: translateX(0);
	}

	@media(min-width: map-get($grid-breakpoints, md)) {
		height: calc(100vh - (#{$header-md-height} + #{$footer-height}) - (#{$border-height} * 2));
	}
}
/*
#test-right-to-left {
	background-color: $black;

	position: fixed;
    right: 0;
    top: 70px;
    width: 250px;
    height: calc(100vh - 70px);
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
#test-right-to-left.is-collapsed {
	transform: translateX(0);
}
*/

#article {
	border-top: $border-height solid $black;

	flex: 1;

	display: flex;
	flex-direction: column;
}

#breadcrumb {
	height: $breadcrumb-height;
	padding: 0 ($grid-gutter-width / 2);

	display: flex;
	align-items: center;
}

#section {
	border-top: $border-height solid $black;
	border-bottom: $border-height solid $black;

	flex: 1;

	padding: ($grid-gutter-width / 2) 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#footer {
	height: $footer-height;

	display: flex;
	justify-content: center;
	align-items: center;
}
#footer-left {
	display: none;
}

#footer-datetime {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: $small-font-size;
}



@media(min-width: map-get($grid-breakpoints, md)) {
	#header-title {
		width: $nav-left-width;
	}

	#article {
		transition: $transition-base;

		&.is-collapsed {
			margin-left: $nav-left-width-negative;
		}
	}

	#footer {
		padding: 0 ($grid-gutter-width / 2);

		justify-content: space-between;
	}
	#footer-left {
		display: inline-block;
		font-size: $small-font-size;
	}

	#footer-datetime {
		flex-direction: column;
		align-items: flex-end;
	}

	#nav-left-collapse {
		& i, & svg {
			transform: rotate(0);
		}

		&.is-collapsed i, &.is-collapsed svg {
			transform: rotate(180deg);
		}
	}
}
