//
$header-sm-height:  3rem !default;
$header-md-height:  3.5rem !default;
//
$footer-height:     3rem !default;
//
$breadcrumb-height: 3rem !default;
//
$border-height: 1px !default;

// Options nav left
$nav-left-width:          250px !default;
$nav-left-width-negative: -250px !default;
$nav-left-link-height:    3rem !default;
