.os-theme-dark > .os-scrollbar-horizontal,
.os-theme-light > .os-scrollbar-horizontal {
	right: 10px;
	height: 8px;
	/* height: 10px; */
}
.os-theme-dark > .os-scrollbar-vertical,
.os-theme-light > .os-scrollbar-vertical {
	bottom: 10px;
	width: 8px;
	/* width: 10px; */
}
.os-theme-dark.os-host-rtl > .os-scrollbar-horizontal,
.os-theme-light.os-host-rtl > .os-scrollbar-horizontal {
	left: 10px;
	right: 0;
}
.os-theme-dark > .os-scrollbar-corner,
.os-theme-light > .os-scrollbar-corner {
	height: 8px;
	width: 8px;
	/*
	height: 10px;
	width: 10px;
	*/
}
.os-theme-dark > .os-scrollbar-corner,
.os-theme-light > .os-scrollbar-corner {
	background-color: transparent;
}
.os-theme-dark > .os-scrollbar,
.os-theme-light > .os-scrollbar {
	/* padding: 2px; */
	box-sizing: border-box;
	background: transparent;
}
.os-theme-dark > .os-scrollbar.os-scrollbar-unusable,
.os-theme-light > .os-scrollbar.os-scrollbar-unusable {
	background: transparent;
}
.os-theme-dark > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track {
	background: transparent;
}
.os-theme-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-light > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
	min-width: 30px;
}
.os-theme-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-light > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
	min-height: 30px;
}
.os-theme-dark.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-light.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
	transition: background-color .2s;
}
.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-dark > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track {
	@if $enable-rounded {
		border-radius: 10px;
	}
}


.os-theme-dark {
	// .os-theme-dark.os-host-scrollbar-horizontal-hidden > .os-scrollbar-horizontal .os-scrollbar-handle:before
	&.os-host-scrollbar-horizontal-hidden {
		& > {
			& .os-scrollbar-horizontal {
				& .os-scrollbar-handle {
					&:before {
						@extend %display-none;
					}
				}
			}
		}
	}

	//.os-theme-dark.os-host-scrollbar-vertical-hidden > .os-scrollbar-vertical .os-scrollbar-handle:before
	&.os-host-scrollbar-vertical-hidden {
		& > {
			& .os-scrollbar-horizontal {
				& .os-scrollbar-handle {
					&:before {
						@extend %display-none;
					}
				}
			}
		}
	}

	& > {
		// .os-scrollbar-horizontal .os-scrollbar-handle:before
		& .os-scrollbar-horizontal {
			& .os-scrollbar-handle {
				&:before {
					@extend %os-scrollbar-handle-before;
				}
			}
		}

		// .os-scrollbar-vertical .os-scrollbar-handle:before
		& .os-scrollbar-vertical {
			& .os-scrollbar-handle {
				&:before {
					@extend %os-scrollbar-handle-before;
				}
			}
		}

		& .os-scrollbar {
			&:hover {
				& > {
					& .os-scrollbar-track {
						& > {
							& .os-scrollbar-handle {
								background: rgba(0, 0, 0, .55);
							}
						}
					}
				}
			}

			& > {
				& .os-scrollbar-track {
					& > {
						& .os-scrollbar-handle {
							background: rgba(0, 0, 0, .4);

							&.active {
								background: rgba(0, 0, 0, .7);
							}
						}
					}
				}
			}
		}
	}
}

.os-theme-dark > .os-scrollbar-horizontal .os-scrollbar-handle:before {
	@include size-os-scrollbar-horizontal-handle-before(-6px, -2px);
}
.os-theme-dark > .os-scrollbar-vertical .os-scrollbar-handle:before {
	@include size-os-scrollbar-vertical-handle-before(-2px, -6px);
}
.os-host-rtl.os-theme-dark > .os-scrollbar-vertical .os-scrollbar-handle:before {
	@include size-os-scrollbar-vertical-handle-before(-6px, -2px);
}
