.os-theme-none {
	& > {
		& .os-scrollbar-horizontal, & .os-scrollbar-vertical, & .os-scrollbar-corner {
			display: none !important;
		}

		& .os-scrollbar-corner-resize {
			display: block !important;
			min-width: 10px;
			min-height: 10px;
		}
	}
}
