:root {
	--metaThemeColor: #{$color-base};
}

#header {
	background-color: $color-base;
	color: $white;
}

#header-title {
	background-color: $color-base;
}

#main {
	background-color: lighten($color-secondary, 60%);
}

#nav-left {
	border-right: none;

	background-color: $color-900;
	color: $white;
}

#nav-left-list {
	border-top: $border-height solid $white;
	border-bottom: $border-height solid $white;
}

#article {

}

#breadcrumb {
	border-top: $border-height solid $breadcrumb-bg;
	border-bottom: $border-height solid $breadcrumb-bg;

	background-color: $breadcrumb-bg;
}

#section {
	border-bottom: $border-height solid $gray-100;
}

#footer {
	background-color: $color-base;
	color: $white;

	& a {
		color: $color-50;
	}
}
