// Color system

$color-base: #3C1053 !default;
$color-secondary: #25282A !default;

$color-50: lighten($color-base, 50%) !default;
$color-100: lighten($color-base, 45%) !default;
$color-200: lighten($color-base, 40%) !default;
$color-300: lighten($color-base, 35%) !default;
$color-400: lighten($color-base, 30%) !default;
$color-500: lighten($color-base, 25%) !default;
$color-600: lighten($color-base, 20%) !default;
$color-700: lighten($color-base, 15%) !default;
$color-800: lighten($color-base, 10%) !default;
$color-900: lighten($color-base, 5%) !default;

$theme-color: () !default;
$theme-color: map-merge(
	(
		"header": $color-base,
		"nav-footer": $color-base
	),
	$theme-color
);
