#header {
	background-color: $color-700;
	color: $white;
}

#header-title {
	background-color: $color-900;
}

#main {
	background-color: $gray-100;
}

#nav-left {
	border-right: none;

	background-color: $color-700;
	color: $white;
}

#nav-left-list {
	border-top: $border-height solid $white;
	border-bottom: $border-height solid $white;
}

#article {
	border-top: none;
}

#breadcrumb {
	background-color: $breadcrumb-bg;
}

#section {
	border-top: none;
	border-bottom: none;
}

#footer {
	background-color: $color-700;
	color: $white;

	& a {
		color: $color-100;
	}
}
